.form-group{
    width: 100%;
}
.inputField{
    width: 100%;
    margin-top: 10px;
}
input{
    width: 100%;
}
.container{
    width: 100%;
    
}
.center{
    text-align: center;
}
.form-row{
    width: 100%;
}
div{
    width: 100%;
}
.formProduct{
    width:70%;
}
mat-select{
}