<div class="container mt-5 d-flex align-items-center justify-content-center">
<form class="formProduct">
    <div class="form-row">
      <div class="form-group-lg inputField">
        <label for="productName">Product name:</label>
        <input type="text" class="form-control" id="productName" placeholder="Product name" [(ngModel)] = "product.name" name = "name" required>
      </div>
      <div class="form-group col-md-8 inputField">
      <label for="categorySelect"> Category </label>
      <select [(ngModel)]="selectedCategory" class="form-select" id = "categorySelect">
        <option *ngFor="let category of categories" [ngValue]="category.id" class="form-control">{{category.name}}</option>
      </select>
    </div>
      <div class="form-group col-md-8 inputField">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" placeholder="Price" [(ngModel)] = "product.price" name = "price">
      </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-12 inputField">
      <label for="inputAddress">Code:</label>
      <input type="text" class="form-control input-lg" id="code" placeholder="12323" [(ngModel)] = "product.code" name = "code">
    </div>
    <div class="form-group col-md-12 inputField">
      <label for="inputAddress2">Production date:</label>
      <input type="date" class="form-control" id="prodDate" placeholder="1920" [(ngModel)] = "product.prodDate" name="prodDate">
    </div>
    <div class="form-group mt-2 center">
        <button type="button" class="btn btn-primary" (click) = "createProduct()">Create product</button>
    </div>
    </div>
  </form>
</div>