<div fxLayout = "row" fxFlex = "100%">
<div class = "listOfProducts" fxFlex = "75%">
<mat-card>
<img mat-card-image src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/labrador-puppy-royalty-free-image-1626252338.jpg?crop=0.667xw:1.00xh;0.173xw,0&resize=980:*">
 <mat-card-title>product 1</mat-card-title>  
 <mat-card-subtitle>product 1 is good </mat-card-subtitle> 
 <mat-card-content>
  <p>
    Dogs have four legs and make a "bark," "woof," or "arf" sound. Dogs often chase cats,
     and most dogs will fetch a ball or stick. Dogs can smell and hear better than humans, 
     but cannot see well in color because they are color blind.
     Due to the anatomy of the eye, dogs can see better in dim light than humans.
  </p>
</mat-card-content> 
 <button mat-stroked-button type="button"><mat-icon>delete</mat-icon>remove</button>
</mat-card>    
<mat-card>
  <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Labrador_on_Quantock_%282175262184%29.jpg/1200px-Labrador_on_Quantock_%282175262184%29.jpg">
    <mat-card-title>product 2</mat-card-title>  
    <mat-card-subtitle>product 2 is good </mat-card-subtitle> 
    <mat-card-content>
      <p>
        Dogs have four legs and make a "bark," "woof," or "arf" sound. Dogs often chase cats,
         and most dogs will fetch a ball or stick. Dogs can smell and hear better than humans, 
         but cannot see well in color because they are color blind.
         Due to the anatomy of the eye, dogs can see better in dim light than humans.
      </p>
    </mat-card-content>


    <mat-card-actions><button mat-raised-button type="button" ><mat-icon>delete</mat-icon>remove</button></mat-card-actions>
   </mat-card>   
</div>
<div class = "overallCart" fxFlex = "25%"> 
    <mat-card-title>over all info:</mat-card-title>
    <mat-card-subtitle>product 1 is good</mat-card-subtitle>  
    <mat-card-actions><button mat-raised-button type="button" >Buy</button></mat-card-actions>
</div>
</div>