<div class="flex-item" fxLayout="row wrap" *ngIf="products; else noProducts" >
  
    <mat-card *ngFor = "let product of products">
      <img mat-card-image  src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      <mat-card-title style="text-align: center;">{{product.name}}</mat-card-title>
      <mat-card-subtitle style="font-size: large; margin:3px;">Category:{{product.category?.name}}</mat-card-subtitle> 
      <mat-card-subtitle style="margin-top: 5px;">Production date:{{product.prodDate |date:'mediumDate'}}</mat-card-subtitle> 
      <mat-card-subtitle style="text-align: end;"> ${{product.price}}</mat-card-subtitle> 
      <mat-card-actions><a mat-button mat-stroked-button  routerLinkActive="active"><mat-icon >shopping_cart</mat-icon>Add to cart</a></mat-card-actions>  
    </mat-card>
  
  
  </div>


  <ng-template #noProducts>

    <diV>Oops we do not have products!</diV>

  </ng-template>