<div class="flex-item" fxLayout="row wrap" >
  
    <mat-card>
      <img mat-card-image  src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      <mat-card-title>Product 1</mat-card-title>
      <mat-card-subtitle>Product 1 is a good product.</mat-card-subtitle> 
      <mat-card-actions><a mat-button mat-stroked-button routerLink="login" routerLinkActive="active"><mat-icon >shopping_cart</mat-icon>Add to cart</a></mat-card-actions>  
    </mat-card>
  
    <mat-card>
      <img mat-card-image  src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      <mat-card-title>Product 1</mat-card-title>
      <mat-card-subtitle>Product 1 is a good product.</mat-card-subtitle> 
      <mat-card-actions><a mat-button mat-stroked-button routerLink="login" routerLinkActive="active"><mat-icon >shopping_cart</mat-icon>Add to cart</a></mat-card-actions>  
    </mat-card>
  
  </div>
