<div fxLayout="row" fxLayoutAlign="center center" class="center" >
  
  
    <div fxFlex="100%" fxLayoutGap="20px"  class="example-form">
      <div class ="description">
        <p>Create Category</p>
        <mat-divider></mat-divider>
      </div>
      <mat-form-field appearance="legacy">
        <mat-label>Category name:</mat-label>
        <input matInput placeholder="Enter a product's name" name = "name"  [(ngModel)] = "category.name">
      </mat-form-field>
  
      <mat-form-field appearance="legacy">
        <mat-label>Description:</mat-label>
        <input matInput placeholder="decription"  name = "description" [(ngModel)] = "category.description">
      </mat-form-field>

      <button mat-flat-button color="primary" (click) = "createCategory()">Create Category</button>
    </div>
  </div>