  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!loggedInUser; else logout" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><mat-icon >store</mat-icon>Market</a>
      <div class="collapse navbar-collapse rightAlign" id="navbarNavDropdown" >
        <ul class="navbar-nav">
        <div class="me-2">
            <a mat-button color="primary"  mat-raised-button routerLink="login" routerLinkActive="active" class="me-2"><mat-icon >login</mat-icon>Login</a>
        </div>
         <div class="me-2">
          <a mat-button color="primary"  mat-raised-button routerLink="signup" routerLinkActive="active" class="me-2"><mat-icon >perm_identity</mat-icon>Sign up</a>
         </div>      
        </ul>
      </div>
    </div>
  </nav>
  <ng-template #logout>
    <mat-toolbar>
        <div fxFlex fxLayout="row"   fxLayoutGap="15px" fxLayoutAlign="start center"  >
          <div class = "companyname">
            <a color="primary" routerLink = ""  class="positronx"><mat-icon >store</mat-icon>Market</a>
          </div>
          <div class="menu-item">
            <a routerLink="myOrders" routerLinkActive="active">My orders</a>
          </div>
          <div class="menu-item" *ngIf="loggedInUser.admin">
            <a routerLink="createProduct" routerLinkActive="active">Create product</a>
          </div>
          <div class="menu-item" *ngIf="loggedInUser.admin">
            <a routerLink="createCategory" routerLinkActive="active">Create category</a>
          </div>
        </div>
       <div fxFlex fxLayout="row" fxLayoutGap="20px"
        fxLayoutAlign="end start" >
        <span class="navRight" >
            <app-profile></app-profile>  
        </span>
        <div class = "navRight">
          <a routerLink="myCart"><mat-icon >shopping_cart</mat-icon></a>
        </div>
       </div>
      
      </mat-toolbar>
  </ng-template>

  